container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python REPLACE_THIS/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python REPLACE_THIS/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "REPLACE_THIS.settings"
    "PYTHONPATH": "/opt/python/current/app/REPLACE_THIS:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: REPLACE_THIS/REPLACE_THIS/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
